dom-module#my-list
  link(rel='stylesheet', href='../styles/list.css')
  template
    p.paper-font-subhead You now have:
    ul
      template(is='dom-repeat', items='{{items}}')
        li: span.paper-font-body1 {{item}}

  script
    :coffee
      Polymer
        is: 'my-list'
        properties:
          items:
            type: Array,
            notify: true
        ready: ->
          @items = [
            'Responsive Web App boilerplate'
            'Iron Elements and Paper Elements'
            'Routing with Page.js'
          ]
