link(rel='import', href='../js/bower/polymer/polymer.html')

dom-module#main-screen
  template
    link(rel='stylesheet', href='styles/main-screen.css')

    h1 Polymer Works!

  script.
    Polymer({
      is: "main-screen"
    });
