script(src='../js/bower/page/page.js')

script
  :coffee
    window.addEventListener 'WebComponentsReady', ->

      page '/', -> 
        app.route = 'home'

      page '/users', -> 
        app.route = 'users'

      page '/users/:name', (data) -> 
        app.route = 'user-info'
        app.params = data.params

      page '/contact', ->
        app.route = 'contact'

      page
        hashbang: true
